@model IEnumerable<ProyectoServicioTuristico.Models.Ruta>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Crear nueva ruta</a>
</p>
@foreach (var item in Model)
{
    <input type="hidden" asp-route-id="@item.ClasificacionRutaId" )" />
}
<table class="table">
    <thead>

        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PuntoPartida)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PuntoLLegada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescripcionServicios)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Guia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClasificacionRuta)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PuntoPartida)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PuntoLLegada)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Precio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DescripcionServicios)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Guia.ApellidoPaterno)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClasificacionRuta.Nombre)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.RutaId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.RutaId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.RutaId">Delete</a>

                </td>
            </tr>
        }
    </tbody>
</table>
