@model List<ClasificacionRuta>

@{ ViewData["Title"] = "Clasificacion de Rutas"; }

<h1 class="text-black text-center mb-3">Clasificaciones de rutas por tópicos</h1>

<!--p>
    <a asp-action="Create">Create New</a>
</!--p-->
<div class="row">
    @foreach (var item in Model)
    {

<div class="col-md-6">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-sm-4">
                    <a href="#">
                        <img src="~/images/clasificaciones/@item.Foto" alt="@item.Nombre" height="100" width="100" />
                    </a>
                </div>
                <div class="col-sm-8">
                    <div class="card-title text-info">@item.Nombre</div>
                    <div class="card-text">@item.Descripcion</div>
                    <div class="card-text">@item.Provincia.Nombre - @item.Canton.Nombre</div>
                    <div class="card-text">Existen @item.Rutas.Count rutas</div>
                </div>
            </div>
        </div>
        <div class="card-footer bg-info">
            <a asp-action="Details" asp-route-id="@item.ClasificacionRutaId" class="text-black">Ver información</a>
        </div>
    </div>
    <br /><br />
</div>}
</div>


