@model ProyectoServicioTuristico.Models.Guia

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Guia</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PrimerNombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PrimerNombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SegundoNombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SegundoNombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ApellidoPaterno)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ApellidoPaterno)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ApellidoMaterno)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ApellidoMaterno)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NombreCompleto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NombreCompleto)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Edad)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Edad)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sexo)
        </dt>
        @if (Model.Sexo == 0)
        {
            <dd>Femenino</dd>
        }
        @if (Model.Sexo == 1)
        {
            <dd>Masculino</dd>
        }
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Telefono)
        </dd>
        <dt class="col-sm-2">
            <img src="@("~/images/guias/"+Model.FotoPerfil)"
                 class="rounded-circle"
                 height="60" width="70"
                 asp-append-version="true" />
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FotoPerfil)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Identidad)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Identidad)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="GuiaId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
