@model IEnumerable<ProyectoServicioTuristico.Models.Guia>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Crear un nuevo guia</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreCompleto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Edad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sexo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Identidad)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreCompleto)
                    <img src="~/images/guias/@item.FotoPerfil"
                         class="rounded-circle"
                         height="60" width="70"
                         asp-append-version="true" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Edad)
                </td>
                @if (item.Sexo == 0)
                {
                    <td>Femenino</td>
                }
                @if (item.Sexo == 1)
                {
                    <td>Masculino</td>
                }
                <td>
                    @Html.DisplayFor(modelItem => item.Telefono)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Identidad)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.GuiaId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.GuiaId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.GuiaId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
